$color1: #0a345e;
$lightColor: #054e97;
$darktext: rgb(121, 121, 121);

.edit-jobs{
    display: inline-block;
    width: 100%;
    background: whitesmoke;
    padding: 2.5rem 6rem;

    .edit-jobs-container-header{
        width: 100%;
        padding: 1rem 0rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        h4{
            width: 20%;
            font-size: 2rem;
        }

    }

    .edit-job-container{
        width: 100%;
        background-color: white;
        border-radius: 15px;
        border: 1px solid lightgrey;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        form{
            width: 100%;
            .edit-jobCard{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                .jobTitle{
                    width: 100%;
                    padding: 2rem;
                    border-bottom: 1px solid lightgrey;

                    input{
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        appearance: none;
                        width: 70%;
                        font-size: 1.2rem;
                        color: $color1;
                        font-weight: bolders;
                        padding: .4rem .2rem;

                    }
                }

                .scope{
                    width: 100%;
                    padding: 2rem;
                    border-bottom: 1px solid lightgrey;
                    
                    h3{
                       font-size: 1.1rem;
                       font-weight: bolder;
                       width: 100%;
                       color: $color1;
                       
                       span{
                           color: $darktext;
                           font-size: 1rem;
                       }
                    }

                    p{
                        font-size: 1.1rem;
                        font-weight: bolder;
                        width: 100%;
                        color: $color1;
                        
                        span{
                            color: $darktext;
                            font-size: 1rem;
                        }
                    }
                }

                .jobDescription{
                    width: 100%;
                    padding: 2rem;
                    border-bottom: 1px solid lightgrey;

                    h3{
                        font-size: 1.2rem;
                        color: $color1;
                        width: 100%;
                    }

                    textarea{
                        resize: none;
                        width: 80%;
                        font-size: 1rem;
                        outline: none;
                        border: .7px solid $lightColor;
                    }
                }
                .budgetAndExperience{
                    width: 100%;
                    padding: 2rem;
                    border-bottom: 1px solid lightgrey;

                }
                .jobType{
                    width: 100%;

                    .type,.size{

                        width: 100%;
                        padding: 1rem 2rem;
                        h4{
                            font-size: 1.1rem;
                            font-weight: bolder;
                            width: 100%;
                            color: $color1;
                        }

                        select{
                            width: 50%;
                            font-size: 1rem;
                            color: $lightColor;
                            padding: .4rem .2rem;
                            border: none;
                        }
                    }
                }

                .options{
                    width: 100%;
                    padding: 2rem;
                    border-top: 1px solid lightgrey;

                    input{
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        appearance: none;
                        cursor: pointer;
                        border-radius: 15px;
                        border: none;
                        background: rgb(233, 233, 233);
                        font-size: 1.1rem;
                        color: $color1;
                        font-weight: bolder;
                        padding: 0.6rem 1.5rem;
                        margin-right: 0.25rem;
                        border: 1px solid lightgrey;
                        &:hover {
                          transition: all 0.2s ease;
                          background: rgb(219, 219, 219);
                        }
                    }

                }
            }

        }

    }
}