$color1: #0a345e;
$lightColor: #054e97;
$darktext: rgb(121, 121, 121);
.job{
    width: 100%;
    background: whitesmoke;
    padding: 2.5rem 8rem;

    h2{
        font-size: 2rem;
        margin-left: 1rem;
    }
    h3{
        margin-left: 1rem;
    }

    //Job Container
    .job-container{
        margin: 1rem;
        background: white;
        width: 100%;
        border-radius: 15px;
        border: solid lightgrey .7px;
        display: grid;
        grid-template-columns: 2.25fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;


        // Cards within Container
        .jobCard { 
            width: 100%;
            grid-area: 1 / 1 / 4 / 2; 
            border-right: solid lightgrey .7px;
            .jobTitle{
                width: 100%;
                padding: 2rem;
                font-size: 1.4rem;
                color: black;
                font-weight: bold;
                border-bottom: solid lightgrey .7px;
            }

            .scope{
                width: 100%;
                padding: 1.5rem 2rem;
                border-bottom: solid lightgrey .7px;  
                display: flex;
                flex-direction: column;  
                justify-content: space-between;
                
                h3{
                    font-size: 1.3rem;
                    color: $lightColor;
                    width: 100%;
                    font-weight: bolder;
                }

                p{
                    font-size: 1.2rem;
                    color: $lightColor;
                    padding: .5rem 0rem;

                    span{
                        color: black;
                    }

                    #status{
                        color: lightgreen;
                    }

                    i{
                        padding-right: .5rem;
                    }
                }
            }
            .jobDescription{
                width: 100%;
                padding: 2rem;
                border-bottom: solid lightgrey .7px;
                h3{
                    font-size: 1.3rem;
                    color: $lightColor;
                    text-decoration: underline;
                }
                p{
                    padding: .5rem 0rem;
                    font-size: 1rem;
                    width: 95%;
                    line-height: 1.5rem;
                }
            }

            .budgetAndExperience{
                width: 100%;
                padding: 1.5rem 2rem;
                border-bottom: solid lightgrey .7px;
                display: flex;
                flex-direction: row;
                align-items: center;

                .budget{
                    width: 50%;
                    p{
                        font-size: 1.3rem;
                    }
                    span{
                        font-size: 1rem;
                        color: $darktext;
                    }
                }

                .experience{
                    width: 50%;
                    h4{
                        text-decoration: underline;
                        font-size: 1.2rem;
                        color: $lightColor;
                    }

                }

            }

            .jobType{
                width: 100%;
                padding: 1.5rem 2rem;
                border-bottom: solid lightgrey .7px;
                display: flex;
                flex-direction: column;
                .type,.size{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    margin: .5rem 0rem;

                    h4{
                        font-size: 1.2rem;
                        color: $lightColor;
                        text-decoration: underline;
                    }
                    p{
                        font-size: 1.2rem;
                        padding-left: .5rem;
                    }
                }
            }

            .imageCard{
                width: 100%;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                h3{
                    font-size: 1.2rem;
                    color: $lightColor;
                    text-decoration: underline;
                    i{
                        margin-right: .5rem;
                        text-decoration: none;
                    }
                }
                span{
                    margin: 0.5rem 0rem;
                    font-size: 1.2rem;
                    color: $darktext;
                }
                .image{
                    display: flex;
                    flex-direction: row;
                    align-items:flex-start;
                    width: 70%;
                    height: 15rem;
                    margin: 1rem 0rem;
                    img{
                        border-radius: 10px;
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }

            }

        }
        .options { 
            width: 100%;
            padding: 2rem;
            grid-area: 1 / 2 / 2 / 3;
            border-bottom: solid lightgrey .7px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            button{
                width: 90%;
                background: $lightColor;
                color: white;
                text-align: center;
                border: none;
                font-size: 1rem;
                padding: .5rem 0rem;
                border-radius: 12px;
                cursor: pointer;

                &:hover{
                    background-color: $color1;
                }
            }

            .flag{
                margin: 1rem 0rem;
                i{
                    font-size: 1.2rem;
                    color: $lightColor;
                }
                span{
                    font-size: 1.2rem;
                    color: $lightColor;
                    margin-left: .5rem;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .reportMessage{
                display: none;
                width: 80%;
                .reportMessageCard{
                    width: 100%;
                    color: maroon;
                    font-size: 1.2rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    p{
                        text-align: center;
                    }
                }
            }

            #deleteBtn,#editBtn{
                margin: .5rem 0rem;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                width: 50%;
                background: transparent;
                color: $darktext;
                text-align: center;
                border: none;
                font-size: 1rem;
                padding: .5rem 0rem;
                border: .7px solid $darktext;
                border-radius: 12px;
                cursor: pointer;
            }
            #deleteMenu{
                width: 100%;
                .deleteMenuContainer{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    span{
                        width: 100%;
                        text-align: center;
                        font-size: 1rem;
                        color: $darktext;
                    }
                    input{
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        appearance: none;
                        margin-bottom: .5rem;
                        width: 50%;
                        background: transparent;
                        color: $darktext;
                        text-align: center;
                        border: none;
                        font-size: .9rem;
                        padding: .25rem 0rem;
                        border: .7px solid $darktext;
                        border-radius: 12px;
                        cursor: pointer;
                    }
                }
            }
        }
        .clientInfo { 
            grid-area: 2 / 2 / 3 / 3;
            width: 100%;
            border-bottom: solid lightgrey .7px;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            
            h3{
                font-size: 1.3rem;
                color: $lightColor;
                width: 100%;
                text-decoration: underline;
                padding-bottom: 1rem;
            }

            .username{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                p{
                    font-size: 1.2rem;
                    color: $color1;
                    padding-right:.5rem ;
                }
                a{
                    font-size: 1.2rem;
                    color: $lightColor;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

            .img-card{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                padding: 1rem 0rem;
                img{
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
        .joblink { 
            grid-area: 3 / 2 / 4 / 3; 
            padding: 1.5rem;
            width: 100%;
            h4{
                font-size: 1.2rem;
                color: $color1;
                text-decoration: underline;
                padding: 1rem 0rem;
            }

            .link{
                width: 100%;
                padding: .5rem;
                border-radius: 5px;
                border: solid lightgrey .7px;
                background: whitesmoke;
                pointer-events: none;
            }

            p{
                cursor: pointer;
                font-size: 1rem;
                padding: .5rem 0rem;
                color: $lightColor;

                &:hover{
                    text-decoration: underline;
                }
            }

        } 
    }
}

.currentClients{

    width: 100%;
    background: whitesmoke;
    padding: 2.5rem;
    border: 3px solid lightgrey;
    border-radius: 12px;

    h1{
        width: 100%;
        font-size: 2rem;
        color: $color1;
        text-decoration: underline;
    }

    .currentJob{
        width: 100%;
        display: flex;
        flex-direction: column;
        
        .currentUser,.currentStatus{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 1rem;
            h2{
                font-size: 2rem;
                color: $color1;
            }

            span{
                font-size: 2rem;
                color: black;
            }

        }

        button{
            width: fit-content;
            cursor: pointer;
            border-radius: 15px;
            border: none;
            background: rgb(233, 233, 233);
            font-size: 1.1rem;
            color: $color1;
            font-weight: bolder;
            padding: 0.6rem 1.5rem;
            border: 1px solid lightgrey;
            &:hover {
              transition: all 0.2s ease;
              background: rgb(219, 219, 219);
            }
        }
    }
}

.job-progress-section{
    width: 100%;
    background: whitesmoke;
    padding: 2.5rem 8rem;
    button{
        cursor: pointer;
        font-size: 1.2rem;
        background: $lightColor;
        color: white;
        border: none;
        padding: 1rem 2rem;
    }
    h2{
        font-size: 3rem;
        margin: 1rem 0rem;
    }
    .job-progress-container{
        width: 100%;
        border-radius: 15px;
        border: 3px solid lightgrey;
        display: flex;
        flex-direction: column;
        .job-progress-header{
            width: 100%;
            padding: 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            h2{
                font-size: 4rem;
                color: $lightColor;
                width: fit-content;
            }
            p{
                font-size: 1.2rem;
            }
        }
        .options{
            display: flex;
            height: fit-content;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-bottom: 3px solid lightgrey;
            border-top: 3px solid lightgrey;
            width: 100%;
            padding: 2rem;
        }

        .jobDescription{
            width: 100%;
            height: fit-content;
            padding: 2rem;

            h1{
                width: 100%;
                text-align: center;
                font-size: 2rem;
                text-decoration: underline;
            }
        }

        .messageChat{
            width: 100%;
            padding: 2rem;
        }
    }
   
}


//Media Queires
@media screen and (max-width: 754px) {
    .job{
        width: 100%;
        background: whitesmoke;
        padding: 2.5rem 0rem;
    
        h2{
            font-size: 2rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
        }
    
        //Job Container
        .job-container{
            margin: 0;
            background: white;
            width: 100%;
            border-radius: 0;
            border: solid lightgrey .7px;
            display: flex;
            flex-direction: column;
    
            // Cards within Container
            .jobCard { 
                width: 100%;
                grid-area: 1 / 1 / 4 / 2; 
                border-right: solid lightgrey .7px;
                .jobTitle{
                    width: 100%;
                    text-align: center;
                    padding: 2rem;
                    font-size: 1.4rem;
                    color: black;
                    font-weight: bold;
                    border-bottom: solid lightgrey .7px;
                }
    
                .scope{
                    width: 100%;
                    padding: 1.5rem 2rem;
                    border-bottom: solid lightgrey .7px;  
                    display: flex;
                    flex-direction: column;  
                    justify-content: center;
                    align-items: center;
                    
                    h3{
                        font-size: 1.4rem;
                        color: $lightColor;
                        width: 100%;
                        text-align: center;
                        font-weight: bolder;
                    }
    
                    p{
                        width: 100%;
                        text-align: center;
                        font-size: 1.2rem;
                        color: $lightColor;
                        padding: .5rem 0rem;
    
                        span{
                            color: black;
                        }
    
                        #status{
                            color: lightgreen;
                        }
    
                        i{
                            padding-right: .5rem;
                        }
                    }
                }
                .jobDescription{
                    width: 100%;
                    padding: 2rem;
                    border-bottom: solid lightgrey .7px;
                    h3{
                        width: 100%;
                        text-align: center;
                        font-size: 1.3rem;
                        color: $lightColor;
                        text-decoration: underline;
                    }
                    p{
                        text-align: center;
                        padding: .5rem 0rem;
                        font-size: 1rem;
                        width: 100%;
                        line-height: 1.5rem;
                    }
                }
    
                .budgetAndExperience{
                    width: 100%;
                    padding: 1.5rem 2rem;
                    border-bottom: solid lightgrey .7px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
    
                    .budget{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        p{
                            width: 100%;
                            text-align: center;
                            font-size: 1.3rem;
                        }
                        span{
                            font-size: 1rem;
                            color: $darktext;
                            width: 100%;
                            text-align: center;
                        }
                    }
    
                    .experience{
                        padding: 1rem 0rem;
                        width: 100%;
                        h4{
                            width: 100%;
                            text-align: center;
                            font-size: 1.2rem;
                            color: $lightColor;
                        }
                        span{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                        }
                    }
    
                }

                .jobType{
                    width: 100%;
                    padding: 1.5rem 2rem;
                    border-bottom: solid lightgrey .7px;
                    display: flex;
                    flex-direction: column;
                    .type,.size{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: .5rem 0rem;
    
                        h4{
                            font-size: 1.2rem;
                            color: $lightColor;
                            text-decoration: underline;
                        }
                        p{
                            font-size: 1.1rem;
                            padding-left: 0;
                        }
                    }
                }
    
                .imageCard{
                    width: 100%;
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-bottom: .7px solid lightgrey;
                    h3{
                        width: 100%;
                        text-align: center;
                        font-size: 1.2rem;
                        color: $lightColor;
                        text-decoration: underline;
                    }
                    span{
                        width: 100%;
                        text-align: center;
                        margin: 0.5rem 0rem;
                        font-size: 1.2rem;
                        color: $darktext;
                    }
                    
    
                }
    
            }
            .options { 
                width: 100%;
                padding: 2rem;
                grid-area: 1 / 2 / 2 / 3;
                border-bottom: solid lightgrey .7px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                button{
                    width: 90%;
                    background: $lightColor;
                    color: white;
                    text-align: center;
                    border: none;
                    font-size: 1rem;
                    padding: .5rem 0rem;
                    border-radius: 12px;
                    cursor: pointer;
    
                    &:hover{
                        background-color: $color1;
                    }
                }
    
                .flag{
                    margin: 1rem 0rem;
                    i{
                        font-size: 1.2rem;
                        color: $lightColor;
                    }
                    span{
                        font-size: 1.2rem;
                        color: $lightColor;
                        margin-left: .5rem;
                        cursor: pointer;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .reportMessage{
                    display: none;
                    width: 80%;
                    .reportMessageCard{
                        width: 100%;
                        color: maroon;
                        font-size: 1rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        p{
                            text-align: center;
                        }
                    }
                }
    
                #deleteBtn{
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    width: 50%;
                    background: transparent;
                    color: $darktext;
                    text-align: center;
                    border: none;
                    font-size: 1rem;
                    padding: .5rem 0rem;
                    border: .7px solid $darktext;
                    border-radius: 12px;
                    cursor: pointer;
                }
                #deleteMenu{
                    width: 100%;
                    .deleteMenuContainer{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
    
                        span{
                            width: 100%;
                            text-align: center;
                            font-size: 1rem;
                            color: $darktext;
                        }
                        input{
                            -moz-appearance: none;
                            -webkit-appearance: none;
                            appearance: none;
                            margin-bottom: .5rem;
                            width: 50%;
                            background: transparent;
                            color: $darktext;
                            text-align: center;
                            border: none;
                            font-size: .9rem;
                            padding: .25rem 0rem;
                            border: .7px solid $darktext;
                            border-radius: 12px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .clientInfo { 
                grid-area: 2 / 2 / 3 / 3;
                width: 100%;
                border-bottom: solid lightgrey .7px;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                
                h3{
                    text-align: center;
                    font-size: 1.3rem;
                    color: $lightColor;
                    width: 100%;
                    text-decoration: underline;
                    padding-bottom: 1rem;
                }
    
                .username{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    p{
                        width: 100%;
                        text-align: center;
                        font-size: 1.2rem;
                        color: $color1;
                        padding-right:0rem;
                        text-decoration: underline;
                    }
                    a{
                        width: 100%;
                        text-align: center;
                        font-size: 1.2rem;
                        color: $lightColor;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
    
                .img-card{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding: 1rem 0rem;
                    img{
                        width: 5rem;
                        height: 5rem;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }
            .joblink { 
                grid-area: 3 / 2 / 4 / 3; 
                padding: 1.5rem;
                width: 100%;
                h4{
                    width: 100%;
                    text-align: center;
                    font-size: 1.4rem;
                    color: $color1;
                    text-decoration: underline;
                    padding: 1rem 0rem;
                }
    
                .link{
                    width: 100%;
                    padding: .5rem;
                    border-radius: 5px;
                    border: solid lightgrey .7px;
                    background: whitesmoke;
                    pointer-events: none;
                }
    
                p{
                    width: 100%;
                    text-align: center;
                    cursor: pointer;
                    font-size: 1rem;
                    padding: .5rem 0rem;
                    color: $lightColor;
    
                    &:hover{
                        text-decoration: underline;
                    }
                }
    
            } 
        }
    }    
}