$color1: #0a345e;
$lightColor: #054e97;
$darktext: rgb(121, 121, 121);

.offerJob{
    margin-top: 0;
    width: 100%;
    background: whitesmoke;
    padding: 2.5rem 10rem;

    .offerJobHeader{
        margin: 1.5rem 0rem;
        width: 100%;
        height: 22vh;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    
        h1 {
          font-size: 3rem;
          text-decoration: underline;
          color: #32557f;
        }
    }
}