.profile-header-container {
  width: 100%;
  background: #1d4354;
  .profileHeader {
    overflow: hidden;
    width: 100%;
    background: #1d4354;
    padding: 1rem 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .logo {
      a {
        text-decoration: none;
        color: white;
        font-family: "Archivo Black", sans-serif;
        font-size: 1rem;
      }
    }
    .searchBar {
      #searchContainer {
        border: none;
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        width: 16rem;
        padding: 0.3rem 0.5rem;
        background: #2b5468;
        border: none;
        resize: none;
        outline: none;
        input[type="text"] {
          border: none;
          font-size: 1rem;
          width: 85%;
          color: white;
          background: #2b5468;
          border: none;
          resize: none;
          outline: none;
        }
        input[type="submit"] {
          width: 15%;
          cursor: pointer;
          border: none;
          font-size: 1rem;
          font-weight: bold;
          background: transparent;
          color: lightgreen;
          &:hover {
            color: rgb(122, 201, 122);
          }
        }
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      li {
        padding: 0rem 0.7rem;
        color: white;
        font-size: 1.1rem;
        cursor: pointer;
        &:hover {
          color: lightgreen;
        }
      }
    }
    .guide {
      i {
        cursor: pointer;
        padding: 0rem 0.5rem;
        color: white;
        font-size: 1.2rem;
        &:hover {
          color: lightgreen;
        }
      }
    }
    .divider {
      padding: 1rem 0.5px;
      background: lightgrey;
    }
    .profileImage {
      img {
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }
      #profileImageTemp {
        display: none;
      }
    }
    .burger {
      display: none;
      cursor: pointer;
    }
    .fa-search {
      display: none;
    }
    .fa-times {
      display: none;
    }
  }
  .mobile-search {
    display: none;
  }
}
.jobsNav,.freelancerNav,.projectsNav,.marketNav,.servicesNav{
  span{
    color: white;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }

}
.notificationNav,.helpNav{

  i {
    cursor: pointer;
    padding: 0rem 0.5rem;
    color: white;
    font-size: 1.2rem;
    &:hover {
      color: lightgreen;
    }
  }
}



// Header pulldown
.sessionCardContainer {
  margin-top: 1rem;
  position: absolute;
  z-index: 1;
  .sessionCard {
    display: none;
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 1rem .5rem;
    background-color: white;
    color: #32557f;
    border-radius: 5px;
    border: 3px solid white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    #sessionCardCloseP {
      width: 100%;
      text-align: end;
      i {
        font-size: 1.3rem;
        cursor: pointer;
        display: inline-block;
        color: $darktext;
      }
    }
    .card {
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      i {
        margin: 0rem 0.8rem 0rem 1.5rem;
      }
      &:hover {
        background: lightgrey;
      }
    }
    .card1 {
      display: flex;
      flex-direction: row;
      pointer-events: none;
      .image {
        img {
          margin-left: 1rem;
          width: 2rem;
          height: 2rem;
        }
      }
      .name {
        display: flex;
        flex-direction: column;
        padding: 0rem 0.5rem;
        #name {
          width: 100%;
          font-size: 1rem;
          color: $color1;
          font-weight: bolder;
        }
        #type {
          width: 100%;
          font-size: 0.8rem;
          color: $darktext;
        }
      }
    }
  }
  .sessionCard::after {
    content: '\0020';
    display: block;
    position: absolute;
    top: -15px;
    left: 15px;
    z-index: 2;
    width: 0;
    height: 0;
    overflow: hidden;
    border: solid 15px transparent;
    border-top: 0;
    border-bottom-color: white;
  }
}
.helpContainer {
  margin-top: 1.5rem;
  position: absolute;
  z-index: 1;
  .helpCard {
    display: none;
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 1rem .5rem;
    background-color: white;
    color: #32557f;
    border-radius: 5px;
    border: 3px solid white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    .card {
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      h4 {
        font-weight: lighter;
        font-size: 1rem;
      }
      &:hover {
        background: lightgrey;
      }
    }
  }
  .helpCard::after {
    content: '\0020';
    display: block;
    position: absolute;
    top: -15px;
    left: 15px;
    z-index: 2;
    width: 0;
    height: 0;
    overflow: hidden;
    border: solid 15px transparent;
    border-top: 0;
    border-bottom-color: white;
  }
}
.serviceCardContainer {
  margin-top: 1.5rem;
  position: absolute;
  z-index: 1;
  .serviceCard {
    display: none;
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 1rem .5rem;
    background-color: white;
    color: #32557f;
    border-radius: 5px;
    border: 3px solid white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    .card {
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      h4 {
        font-weight: lighter;
        font-size: 1rem;
      }
      &:hover {
        background: lightgrey;
      }
    }
  }
  .serviceCard::after {
    content: '\0020';
    display: block;
    position: absolute;
    top: -15px;
    left: 15px;
    z-index: 2;
    width: 0;
    height: 0;
    overflow: hidden;
    border: solid 15px transparent;
    border-top: 0;
    border-bottom-color: white;
  }
}
.projectCardContainer {
  margin-top: 1.5rem;
  position: absolute;
  z-index: 1;
  .projectCard {
    z-index: 1;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    //box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: white;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 10px;
    .card {
      padding: 0.3rem 0rem;
      cursor: pointer;
      width: 100%;
      h4 {
        font-weight: lighter;
        font-size: 0.9rem;
        margin-left: 0.8rem;
      }
      &:hover {
        background: lightgrey;
      }
    }
  }
  .projectCard::after {
    content: "";
    position: absolute;
    top: -26%;
    left: 4%;
    border-width: 0.8rem;
    border-style: solid;
    margin-left: 0.8rem;
    transform: rotate(180deg);
    border-color: white transparent transparent transparent;
  }
}
.notificationCardContainer {
  margin-top: 1.5rem;
  position: absolute;
  z-index: 1;
  .notificationCard {
    display: none;
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 1rem .5rem;
    background-color: white;
    color: #32557f;
    border-radius: 5px;
    border: 3px solid white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    .card {
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      h4 {
        font-weight: lighter;
        font-size: 1rem;
      }
      &:hover {
        background: lightgrey;
      }
    }
  }
  .notificationCard::after {
    content: '\0020';
    display: block;
    position: absolute;
    top: -15px;
    left: 15px;
    z-index: 2;
    width: 0;
    height: 0;
    overflow: hidden;
    border: solid 15px transparent;
    border-top: 0;
    border-bottom-color: white;
  }
}
// This is the freelancer card
.talentCardContainer {
  margin-top: 1.5rem;
  position: absolute;
  z-index: 1;
  .talentCard {
    display: none;
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 1rem .5rem;
    background-color: white;
    color: #32557f;
    border-radius: 5px;
    border: 3px solid white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    .card {
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      h4 {
        font-weight: lighter;
        font-size: 1rem;
      }
      &:hover {
        background: lightgrey;
      }
    }
  }
  .talentCard::after {
    content: '\0020';
    display: block;
    position: absolute;
    top: -15px;
    left: 15px;
    z-index: 2;
    width: 0;
    height: 0;
    overflow: hidden;
    border: solid 15px transparent;
    border-top: 0;
    border-bottom-color: white;
  }
}
.jobCardContainer {
  margin-top: 1.5rem;
  position: absolute;
  z-index: 1;
  .jobCard {
    display: none;
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 1rem .5rem;
    background-color: white;
    color: #32557f;
    border-radius: 5px;
    border: 3px solid white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    .card {
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      h4 {
        font-weight: lighter;
        font-size: 1rem;
      }
      &:hover {
        background: lightgrey;
      }
    }
  }
  .jobCard::after {
    content: '\0020';
    display: block;
    position: absolute;
    top: -15px;
    left: 15px;
    z-index: 2;
    width: 0;
    height: 0;
    overflow: hidden;
    border: solid 15px transparent;
    border-top: 0;
    border-bottom-color: white;
  }
}

//Footer
.profileFooter {
  width: 100%;
  height: fit-content;
  background: white;
  padding: 1rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .profile-links {
    width: 100%;
    padding: 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .links {
      ul {
        display: flex;
        flex-direction: column;
        a {
          padding: 0.3rem 0rem;
          text-decoration: none;
          font-size: 0.85rem;
          color: $darktext;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .profile-social-links {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0rem;
    border-top: 0.7px solid lightgrey;
    border-bottom: 0.7px solid lightgrey;
    p {
      font-size: 0.9rem;
      color: $darktext;
      margin-right: 1rem;
    }
    a {
      text-decoration: none;
      cursor: pointer;
      font-size: 1rem;
      padding: 0.3rem;
      margin: 0rem 0.5rem;
      color: rgb(105, 105, 105);
      background: rgb(235, 235, 235);
      border-radius: 50%;
      &:hover {
        transition: all.3s ease;
        background: rgb(182, 181, 181);
      }
    }
  }
  .copyright {
    width: 100%;
    padding: 1.5rem 0rem;
    text-align: center;
    font-size: 0.9rem;
    color: $darktext;
  }
}

//profile-mobile-nav
.profile-mobile-nav {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  background: #1d4354;
  margin-top: 3.6rem;
  padding: 0rem 1rem;
  .profile-nav-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    #searchContainer {
      border: none;
      display: flex;
      flex-direction: row;
      border-radius: 20px;
      width: 16rem;
      padding: 0.3rem 0.5rem;
      background: #2b5468;
      border: none;
      resize: none;
      outline: none;
      input[type="text"] {
        border: none;
        font-size: 1rem;
        width: 85%;
        color: white;
        background: #2b5468;
        border: none;
        resize: none;
        outline: none;
      }
      input[type="submit"] {
        width: 15%;
        cursor: pointer;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        background: transparent;
        color: lightgreen;
        &:hover {
          color: rgb(122, 201, 122);
        }
      }
    }
  }
  .mobileNavCard {
    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
    .profile-nav-search {
      padding: 1rem 0rem;
    }
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0.8rem 0.5rem;
    border-bottom: #356880 solid 0.7px;
    i {
      font-size: 1rem;
    }
    &:hover {
      color: lightgreen;
    }
  }
  .mobileJobCard {
    width: 100%;
    padding: 0rem 1rem;
    display: none;
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      a {
        font-size: 0.8rem;
        margin: 0.5rem 0rem;
        width: 100%;
        text-decoration: none;
        color: white;
        &:hover {
          color: lightgreen;
        }
      }
    }
  }
  .mobileFreelanceCard {
    width: 100%;
    padding: 0rem 1rem;
    display: none;
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      a {
        font-size: 0.8rem;
        margin: 0.5rem 0rem;
        width: 100%;
        text-decoration: none;
        color: white;
        &:hover {
          color: lightgreen;
        }
      }
    }
  }
  .mobileHelpCard {
    width: 100%;
    padding: 0rem 1rem;
    display: none;
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      a {
        font-size: 0.8rem;
        margin: 0.5rem 0rem;
        width: 100%;
        text-decoration: none;
        color: white;
        &:hover {
          color: lightgreen;
        }
      }
    }
  }
  #navProfile {
    display: flex;
    width: 100%;
    span {
      width: 60%;
      text-align: start;
      margin: 0rem 1rem;
    }
    i {
      text-align: end;
      width: 40%;
    }
  }
  .mobileNavSettings,
  .mobileNavLogOut {
    i {
      margin-right: 1rem;
    }
  }
}
//MObile quick search
.mobileSearchCard {
  display: none;
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  background: #1d4354;
  margin-top: 3.6rem;
  padding: 0rem 1rem;
  .profile-nav-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 1rem 0rem;
    #searchContainer {
      border: none;
      display: flex;
      flex-direction: row;
      border-radius: 20px;
      width: 16rem;
      padding: 0.3rem 0.5rem;
      background: #2b5468;
      border: none;
      resize: none;
      outline: none;
      input[type="text"] {
        border: none;
        font-size: 1rem;
        width: 85%;
        color: white;
        background: #2b5468;
        border: none;
        resize: none;
        outline: none;
      }
      input[type="submit"] {
        width: 15%;
        cursor: pointer;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        background: transparent;
        color: lightgreen;
        &:hover {
          color: rgb(122, 201, 122);
        }
      }
    }
  }
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 7px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: $lightColor !important;
  color: #ffffff;
}
@media screen and (max-width: 754px) {
  .profile-header-container {
    width: 100%;
    .profileHeader {
      overflow: hidden;
      width: 100%;
      background: #1d4354;
      padding: 0.7rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .burger {
        z-index: 2;
        display: inline-block;
        cursor: pointer;
        .line1,
        .line2,
        .line3 {
          width: 2.1rem;
          height: 0.25rem;
          margin: 0.4rem;
          border-radius: 5px;
          background: white;
          pointer-events: none;
          transition: 0.4s;
        }
      }
      .logo {
        display: flex;
        justify-content: center;
        a {
          text-decoration: none;
          color: white;
          font-family: "Archivo Black", sans-serif;
          font-size: 1rem;
        }
      }
      .searchBar {
        display: none;
      }
      ul {
        display: none;
      }
      .guide {
        display: none;
      }
      .divider {
        display: none;
      }
      .profileImage {
        display: none;
      }
      .jobsNav,.freelancerNav,.projectsNav,.messagesNav,.marketNav,.notificationNav,.helpNav,.servicesNav{
        display: none;
      }

      .fa-search {
        cursor: pointer;
        display: inline-block;
        color: white;
        font-size: 1.25rem;
        margin-right: 1rem;
        opacity: 0;
        pointer-events: none;
      }
      .fa-times {
        cursor: pointer;
        display: none;
        color: white;
        font-size: 1.5rem;
        margin-right: 1rem;
      }
    }
  }
  //Footer
  .profileFooter {
    width: 100%;
    height: fit-content;
    background: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .profile-links {
      width: 100%;
      padding: 2rem 0rem;
      display: flex;
      flex-direction: column;
      .links {
        margin: 1rem 0rem;
        ul {
          display: flex;
          flex-direction: column;
          a {
            padding: 0.3rem 0rem;
            text-decoration: none;
            font-size: 0.85rem;
            color: $darktext;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .profile-social-links {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      padding: 1rem 0rem;
      border-top: 0.7px solid lightgrey;
      border-bottom: 0.7px solid lightgrey;
      p {
        font-size: 0.85rem;
        color: $darktext;
        margin-right: 1rem;
      }
      a {
        text-decoration: none;
        cursor: pointer;
        font-size: 0.85rem;
        padding: 0.3rem;
        margin: 0rem 0.5rem;
        color: rgb(105, 105, 105);
        background: rgb(235, 235, 235);
        border-radius: 50%;
        &:hover {
          transition: all.3s ease;
          background: rgb(182, 181, 181);
        }
      }
    }
    .copyright {
      width: 100%;
      padding: 1.5rem 0rem;
      text-align: center;
      font-size: 0.7rem;
      color: $darktext;
    }
  }
}
