$color1: #0a345e;
$lightColor: #054e97;
$darktext: rgb(121, 121, 121);
.contact{
    margin-top: 0;
    width: 100%;
    background: whitesmoke;
    padding: 2.5rem 8rem;

    .contactHeader{
        margin: 1.5rem 0rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        h2{
            font-size: 2rem;
            text-decoration: underline;
            color: $lightColor;
        }

    }

    .contactContainer{

        width: 100%;
        display: flex;
        flex-direction: column;
        .email,.phone,.supportTeam,.location{
            width: 100%;
            border-radius: 15px;
            border: 2px solid lightgrey;
            background-color: white;
        }
        .location{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;
            justify-content: space-between;
            background: #32557f;
            .locationCard{
                width: 50%;
                height: 100%;
                padding: 3rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                p{
                    width: 100%;
                    margin-bottom: .5rem;
                    font-size: 1.2rem;
                    color: white;
                    text-align: start;
                }
                span{
                    font-size: 1.2rem;
                    color: white;
                    width: 100%;
                    text-align: start;
                }
            }
            iframe{
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                width: 50%;
            }
        }


    }
}