$color1: #0a345e;
$lightColor: #054e97;
$darktext: rgb(121, 121, 121);
.contact{
    margin-top: 0;
    width: 100%;
    background: whitesmoke;
    padding: 2.5rem 8rem;

    .contactHeader{
        margin: 1.5rem 0rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        h2{
            font-size: 2rem;
            text-decoration: underline;
            color: $lightColor;
        }

    }

    .contactContainer{

        width: 100%;
        display: flex;
        flex-direction: column;
        .email,.phone,.supportTeam,.location{
            width: 100%;
            border-radius: 15px;
            border: 2px solid lightgrey;
            background-color: white;
        }

        
    }
}