$color1: #0a345e;
$lightColor: #054e97;
$darktext: rgb(121, 121, 121);

.profile{
    margin-top: 0;
    width: 100%;
    background: whitesmoke;
    padding: 2.5rem 8rem;

    .profile-container{
        background: white;
        width: 100%;
        border-radius: 15px;
        border: 1px solid lightgrey;
        .profile-header{
            width: 100%;
            padding: 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: .7px solid lightgrey;
            
            .user-image{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 30%;    
                img{
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    box-shadow: 0px 5px 50px 0px #1d4354, 0px 0px 0px 7px #1d4354;
                }      
            }
            .username{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 70%;

                h2{
                    width: 100%;
                    text-align: start;
                    font-size: 2.5rem;
                    color: black;
                }
                span{
                    color: $color1;
                    font-size: 1.1rem;
                    width: 100%;
                    text-align: start;
                }
                .contact{
                    margin-top: .5rem;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                
                    .linkedIn{
                        width: fit-content;    
                        flex-shrink: 0;
                        transition: all 0.3s;
                        a{
                            text-decoration: none;
                            i{
                                cursor: pointer;
                                font-size: 1rem;
                                border-radius: 50%;
                                padding: .5rem;
                                background: white;
                                box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
                            }
                        }
    
                        :hover{
                            box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
                            transform: scale(1.2);
                        }
                    }
                    .message{
                        margin-left: 1rem;
                        button{
                            cursor: pointer;
                            border-radius: 15px;
                            border: none;
                            background: rgb(219, 219, 219);
                            font-size: 1rem;
                            color: $color1;
                            font-weight: bolder;
                            padding: 0.5rem 1rem;
                            border: 1px solid lightgrey;
                            &:hover {
                              transition: all 0.2s ease;
                              background: rgb(233, 233, 233);
                            }  
                        }
                    }
                }
 
            }
        }

        .profile-body{
            width: 100%;
            display: flex;
            flex-direction: column;
            .profile-info{
                padding: 1rem;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
            }
        }
    }
}