$color1: #0a345e;
$lightColor: #054e97;
$darktext: rgb(121, 121, 121);

.profile{
    margin-top: 0;
    width: 100%;
    background: whitesmoke;
    padding: 2.5rem 8rem;

    .profile-container{
        background: white;
        width: 100%;
        border-radius: 15px;
        border: 1px solid lightgrey;
        .profile-header{
            width: 100%;
            padding: 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: .7px solid lightgrey;
            
            .user-image{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 30%;    
                img{
                    width: 140px;
                    height: 140px;
                    border-radius: 50%;
                    box-shadow: 0px 5px 50px 0px #1d4354, 0px 0px 0px 7px #1d4354;
                }      
            }
            .username{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 70%;

                h2{
                    width: 100%;
                    text-align: start;
                    font-size: 3rem;
                    color: black;
                }
                span{
                    color: $color1;
                    font-size: 1.2rem;
                    width: 100%;
                    text-align: start;
                }
            }
        }

        .profile-body{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            .profile-nav{
                width: 20%;
                height: 100%;
                display: flex;
                flex-direction: column;
                border-right: .7px solid lightgrey;
                padding: 1rem;

                p{
                    width: 100%;
                    text-align: start;
                    color: $darktext;
                    font-size: 1rem;
                    text-decoration: underline;
                }
            }
            .profile-info{
                width: 80%;
                display: flex;
                flex-direction: column;
            }
        }
    }
}